In [1]:
import pandas as pd
from datetime import datetime as dt

# Cidade de Deus - CLIMA DIARIO

In [2]:
# Data Frame + Dimensáo
df_clima_cd = pd.read_excel('CidadeDeDeus-2015-2023_Diario.xlsx')
print ('Numero de linhas: {}'.format(df_clima_cd.shape[0]))
print ('Numero de colunas: {}'.format(df_clima_cd.shape[1]))

Numero de linhas: 3469
Numero de colunas: 11

In [3]:
df_clima_cd.head()

        time  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt  pres  tsun
0 2015-01-01  31.0  24.0  40.0   NaN   NaN   47.0   9.9   NaN   NaN   NaN
1 2015-01-02  32.0  24.0  40.0   NaN   NaN  224.0   7.8   NaN   NaN   NaN
2 2015-01-03  29.1  26.0  33.0   NaN   NaN  209.0  15.3   NaN   NaN   NaN
3 2015-01-04  27.1  24.0  34.0   NaN   NaN  165.0   8.6   NaN   NaN   NaN
4 2015-01-05  25.1  22.0  33.0   NaN   NaN  345.0   5.2   NaN   NaN   NaN

In [4]:
# Renomeando as colunas
df_clima_cd = df_clima_cd.rename(columns={'time': 'data', 'tavg': 'temperaturaMedia', 'tmin': 'temperaturaMinima',
                                         'tmax': 'temperaturaMaxima', 'prcp': 'chuva', 'snow': 'neve',
                                          'wdir': 'direcaoVento', 'wspd': 'velocidadeVento', 'wpgt': 'rajadaVento',
                                          'pres': 'pressaoAtmosferica', 'tsun': 'luzSolar'})

In [5]:
# Dropando as colunas que não serão utilizadas
# Lista de colunas a serem removidas
colunas_para_dropar = ['neve', 'luzSolar', 'rajadaVento']

# Dropando as colunas
df_clima_cd = df_clima_cd.drop(columns=colunas_para_dropar)

In [6]:
# Colunas do dataset
df_clima_cd.columns

Index(['data', 'temperaturaMedia', 'temperaturaMinima', 'temperaturaMaxima',
       'chuva', 'direcaoVento', 'velocidadeVento', 'pressaoAtmosferica'],
      dtype='object')

In [7]:
# Tipo dos dados
df_clima_cd.dtypes

data                  datetime64[ns]
temperaturaMedia             float64
temperaturaMinima            float64
temperaturaMaxima            float64
chuva                        float64
direcaoVento                 float64
velocidadeVento              float64
pressaoAtmosferica           float64
dtype: object

In [8]:
#Check NA
df_clima_cd.isna().sum()

data                     0
temperaturaMedia         0
temperaturaMinima        3
temperaturaMaxima        3
chuva                 1235
direcaoVento            36
velocidadeVento          3
pressaoAtmosferica     298
dtype: int64

In [9]:
# Calcular a porcentagem de valores ausentes em cada coluna
missing_percentages = (df_clima_cd.isnull().sum() / len(df_clima_cd)) * 100

missing_percentages

data                   0.000000
temperaturaMedia       0.000000
temperaturaMinima      0.086480
temperaturaMaxima      0.086480
chuva                 35.601038
direcaoVento           1.037763
velocidadeVento        0.086480
pressaoAtmosferica     8.590372
dtype: float64

In [10]:
#Visualizar algumas linhas dos valores faltantes
df_clima_cd[df_clima_cd.isnull().any(axis=1)].head(10)

,data,temperaturaMedia,temperaturaMinima,temperaturaMaxima,chuva,direcaoVento,velocidadeVento,pressaoAtmosferica
0,2015-01-01,31.0,24.0,40.0,NaN,47.0,9.9,NaN
1,2015-01-02,32.0,24.0,40.0,NaN,224.0,7.8,NaN
2,2015-01-03,29.1,26.0,33.0,NaN,209.0,15.3,NaN
3,2015-01-04,27.1,24.0,34.0,NaN,165.0,8.6,NaN
4,2015-01-05,25.1,22.0,33.0,NaN,345.0,5.2,NaN
5,2015-01-06,26.8,22.0,33.0,NaN,103.0,7.1,NaN
6,2015-01-07,30.2,24.0,36.0,NaN,95.0,6.3,NaN
7,2015-01-08,30.7,22.0,38.0,NaN,79.0,7.5,NaN
8,2015-01-09,31.2,23.0,38.0,NaN,47.0,9.8,NaN
9,2015-01-10,30.5,21.0,40.0,NaN,103.0,8.1,NaN

In [11]:
# Descobrindo a Média Móvel das colunas e completando os valores faltantes

window_size = 52

df_clima_cd['temperaturaMedia'].fillna(df_clima_cd['temperaturaMedia'].rolling(window=window_size, min_periods=1).mean(), inplace=True)
df_clima_cd['temperaturaMinima'].fillna(df_clima_cd['temperaturaMinima'].rolling(window=window_size, min_periods=1).mean(), inplace=True)
df_clima_cd['temperaturaMaxima'].fillna(df_clima_cd['temperaturaMaxima'].rolling(window=window_size, min_periods=1).mean(), inplace=True)
df_clima_cd['velocidadeVento'].fillna(df_clima_cd['velocidadeVento'].rolling(window=window_size, min_periods=1).mean(), inplace=True)
df_clima_cd['direcaoVento'].fillna(df_clima_cd['direcaoVento'].mean(), inplace=True)
df_clima_cd['pressaoAtmosferica'].fillna(df_clima_cd['pressaoAtmosferica'].mean(), inplace=True)
df_clima_cd['chuva'].fillna(0, inplace=True)

In [12]:
# Quantidade de valores faltantes do Dataset após alteração
df_clima_cd.isnull().sum()

data                  0
temperaturaMedia      0
temperaturaMinima     0
temperaturaMaxima     0
chuva                 0
direcaoVento          0
velocidadeVento       0
pressaoAtmosferica    0
dtype: int64

In [13]:
df_clima_cd.head()

,data,temperaturaMedia,temperaturaMinima,temperaturaMaxima,chuva,direcaoVento,velocidadeVento,pressaoAtmosferica
0,2015-01-01,31.0,24.0,40.0,0.0,47.0,9.9,1015.521917
1,2015-01-02,32.0,24.0,40.0,0.0,224.0,7.8,1015.521917
2,2015-01-03,29.1,26.0,33.0,0.0,209.0,15.3,1015.521917
3,2015-01-04,27.1,24.0,34.0,0.0,165.0,8.6,1015.521917
4,2015-01-05,25.1,22.0,33.0,0.0,345.0,5.2,1015.521917

## REALIZAR O AGRUPAMENTO A PARTIR DA SEMANA

In [14]:
# week of year
df_clima_cd['semana_num'] = df_clima_cd['data'].dt.strftime('%Y-%U')
df_clima_cd

,data,temperaturaMedia,temperaturaMinima,temperaturaMaxima,chuva,direcaoVento,velocidadeVento,pressaoAtmosferica,semana_num
0,2015-01-01,31.0,24.0,40.0,0.0,47.0,9.9,1015.521917,2015-00
1,2015-01-02,32.0,24.0,40.0,0.0,224.0,7.8,1015.521917,2015-00
2,2015-01-03,29.1,26.0,33.0,0.0,209.0,15.3,1015.521917,2015-00
3,2015-01-04,27.1,24.0,34.0,0.0,165.0,8.6,1015.521917,2015-01
4,2015-01-05,25.1,22.0,33.0,0.0,345.0,5.2,1015.521917,2015-01
...,...,...,...,...,...,...,...,...,...
3464,2024-06-26,25.1,19.9,33.0,0.0,338.0,6.2,1014.600000,2024-25
3465,2024-06-27,23.6,21.4,27.0,1.8,258.0,9.2,1013.600000,2024-25
3466,2024-06-28,25.3,19.3,34.0,0.0,20.0,7.5,1012.500000,2024-25
3467,2024-06-29,24.4,20.0,31.0,0.9,281.0,9.9,1014.200000,2024-25
3468,2024-06-30,18.8,17.5,20.5,15.1,258.0,8.9,1019.500000,2024-26

In [15]:
# Crie um intervalo de datas que cubra todos os anos e semanas desejados
start_date = pd.to_datetime('2015-01-01')  # Data inicial desejada
end_date = pd.to_datetime('2024-06-30')    # Data final desejada
date_range = pd.date_range(start=start_date, end=end_date, freq='W-SAT')  # Intervalo de datas semanais

In [16]:
# Crie um DataFrame com todas as semanas desejadas
all_weeks = pd.DataFrame({'data': date_range})
all_weeks['semana_num'] = all_weeks['data'].dt.strftime('%Y-%U')

In [17]:
# Junte os dados existentes com o DataFrame de todas as semanas
df_merged = all_weeks.merge(df_clima_cd, on='semana_num', how='left')

In [18]:
# Junta os dados usando a data do domingo como representação da semana
df_clima_final = df_merged.groupby('semana_num').agg({
    'chuva': 'sum',
    'temperaturaMedia': 'mean',
    'temperaturaMaxima': 'max',
    'temperaturaMinima': 'min',
    'direcaoVento': 'mean',
    'velocidadeVento': 'mean',
    'pressaoAtmosferica': 'mean'
}).reset_index()

In [19]:
# Crie uma coluna 'ano' e 'semana_num' a partir da coluna 'semana'
df_clima_final['ano'] = df_clima_final['semana_num'].str[:4]
df_clima_final['semana'] = df_clima_final['semana_num'].str[5:].astype(int)

In [20]:
def get_sunday_date(row):
    year = int(row['semana_num'][:4])
    week_num = int(row['semana_num'][5:])
    sunday = pd.to_datetime(f'{year}-W{week_num}-0', format='%Y-W%W-%w')
    return sunday

In [21]:
df_clima_final['data'] = df_clima_final.apply(get_sunday_date, axis=1)
df_clima_final.head(60)

,semana_num,chuva,temperaturaMedia,temperaturaMaxima,temperaturaMinima,direcaoVento,velocidadeVento,pressaoAtmosferica,ano,semana,data
0,2015-00,0.0,30.700000,40.0,24.0,160.000000,11.000000,1015.521917,2015,0,2015-01-04
1,2015-01,0.0,28.800000,40.0,21.0,133.857143,7.514286,1015.521917,2015,1,2015-01-11
2,2015-02,0.0,30.100000,40.0,22.0,218.428571,10.871429,1015.521917,2015,2,2015-01-18
3,2015-03,0.0,28.157143,38.0,22.0,221.136948,9.985714,1015.521917,2015,3,2015-01-25
4,2015-04,0.0,28.257143,37.0,21.0,222.851234,9.742857,1015.521917,2015,4,2015-02-01
5,2015-05,0.0,25.514286,34.0,20.0,204.285714,8.442857,1015.521917,2015,5,2015-02-08
6,2015-06,0.0,28.842857,38.0,20.0,178.000000,9.028571,1015.521917,2015,6,2015-02-15
7,2015-07,0.0,27.785714,37.0,21.0,204.428571,7.800000,1015.521917,2015,7,2015-02-22
8,2015-08,0.0,28.342857,36.0,21.0,161.279805,10.285714,1015.521917,2015,8,2015-03-01
9,2015-09,0.0,27.057143,36.0,21.0,148.422662,10.557143,1015.521917,2015,9,2015-03-08
10,2015-10,0.0,26.342857,34.0,21.0,164.857143,7.528571,1015.521917,2015,10,2015-03-15
11,2015-11,0.0,26.228571,36.0,20.0,151.851234,8.228571,1015.521917,2015,11,2015-03-22
12,2015-12,0.0,24.700000,33.0,18.0,193.136948,8.242857,1015.521917,2015,12,2015-03-29
13,2015-13,0.0,25.214286,32.0,17.0,194.142857,7.385714,1015.521917,2015,13,2015-04-05
14,2015-14,0.0,24.200000,34.0,18.0,156.714286,8.085714,1015.521917,2015,14,2015-04-12
15,2015-15,0.0,25.371429,33.0,18.0,129.428571,8.100000,1015.521917,2015,15,2015-04-19
16,2015-16,0.0,25.342857,36.0,19.0,211.285714,8.185714,1015.521917,2015,16,2015-04-26
17,2015-17,0.0,22.114286,30.0,17.0,172.136948,7.048459,1015.521917,2015,17,2015-05-03
18,2015-18,0.0,22.342857,33.0,15.0,191.125130,7.119143,1015.521917,2015,18,2015-05-10
19,2015-19,0.0,21.971429,29.0,15.0,183.428571,8.042857,1015.521917,2015,19,2015-05-17
20,2015-20,0.0,23.228571,29.0,17.0,147.994091,6.585714,1015.521917,2015,20,2015-05-24
21,2015-21,0.0,23.071429,33.0,15.0,142.125130,5.414286,1015.521917,2015,21,2015-05-31
22,2015-22,0.0,21.314286,31.0,15.0,181.422662,5.000000,1015.521917,2015,22,2015-06-07
23,2015-23,0.0,22.542857,33.0,15.0,203.702468,5.200000,1015.521917,2015,23,2015-06-14
24,2015-24,0.0,21.385714,34.0,16.0,188.708377,8.185714,1015.521917,2015,24,2015-06-21
25,2015-25,0.0,19.757143,31.0,13.0,109.851234,6.685714,1015.521917,2015,25,2015-06-28
26,2015-26,0.0,21.771429,30.0,13.0,164.839416,6.771429,1015.521917,2015,26,2015-07-05
27,2015-27,0.0,21.000000,29.0,14.0,171.267987,5.814286,1015.521917,2015,27,2015-07-12
28,2015-28,0.0,22.628571,32.0,15.0,180.125130,6.028571,1015.521917,2015,28,2015-07-19
29,2015-29,0.0,21.285714,31.0,14.0,191.131039,6.528571,1015.521917,2015,29,2015-07-26
30,2015-30,0.0,22.285714,31.0,16.0,206.416753,6.814286,1015.521917,2015,30,2015-08-02
31,2015-31,0.0,22.714286,33.0,14.0,146.851234,6.171429,1016.004501,2015,31,2015-08-09
32,2015-32,0.0,22.914286,33.0,14.0,94.857143,8.014286,1021.914286,2015,32,2015-08-16
33,2015-33,0.3,23.485714,34.0,15.0,179.428571,9.028571,1018.000000,2015,33,2015-08-23
34,2015-34,4.1,21.871429,32.0,16.0,143.714286,7.742857,1017.503131,2015,34,2015-08-30
35,2015-35,7.1,22.157143,37.0,16.0,176.428571,8.385714,1016.966536,2015,35,2015-09-06
36,2015-36,42.9,21.628571,28.0,17.0,194.571429,7.871429,1013.285714,2015,36,2015-09-13
37,2015-37,26.9,23.771429,39.0,15.0,203.285714,6.628571,1016.457143,2015,37,2015-09-20
38,2015-38,0.0,25.400000,40.0,18.0,228.285714,9.814286,1013.114286,2015,38,2015-09-27
39,2015-39,8.9,25.357143,35.0,20.0,214.714286,8.414286,1013.563405,2015,39,2015-10-04
40,2015-40,6.1,23.957143,34.0,16.0,152.714286,8.957143,1015.871429,2015,40,2015-10-11
41,2015-41,0.0,26.957143,40.0,20.0,185.428571,10.428571,1014.931702,2015,41,2015-10-18
42,2015-42,4.9,24.285714,34.0,18.0,165.714286,10.542857,1014.191976,2015,42,2015-10-25
43,2015-43,3.3,24.885714,36.0,20.0,134.142857,9.942857,1016.166536,2015,43,2015-11-01
44,2015-44,46.5,24.871429,31.0,21.0,206.285714,8.228571,1014.212524,2015,44,2015-11-08
45,2015-45,16.3,26.485714,37.0,21.0,199.142857,7.628571,1013.837965,2015,45,2015-11-15
46,2015-46,1.8,26.114286,36.0,20.0,138.428571,10.657143,1009.460274,2015,46,2015-11-22
47,2015-47,37.6,24.785714,33.0,20.0,130.142857,8.971429,1012.060274,2015,47,2015-11-29
48,2015-48,37.8,23.985714,33.0,20.0,130.285714,10.428571,1013.852250,2015,48,2015-12-06
49,2015-49,27.0,25.800000,36.0,21.0,185.571429,9.614286,1012.674560,2015,49,2015-12-13
50,2015-50,51.1,28.657143,38.0,20.9,152.142857,10.128571,1013.266536,2015,50,2015-12-20
51,2015-51,0.0,29.271429,37.0,22.0,120.857143,9.942857,1014.309393,2015,51,2015-12-27
52,2016-00,2.0,27.600000,34.0,23.0,150.500000,11.350000,1015.521917,2016,0,2016-01-03
53,2016-01,11.2,27.057143,36.0,20.0,125.285714,11.185714,1013.723679,2016,1,2016-01-10
54,2016-02,109.0,26.985714,35.2,22.0,204.142857,9.928571,1008.015655,2016,2,2016-01-17
55,2016-03,47.2,23.314286,30.0,20.0,235.428571,7.757143,1013.663405,2016,3,2016-01-24
56,2016-04,14.0,27.542857,37.0,19.0,168.422662,7.457143,1015.218786,2016,4,2016-01-31
57,2016-05,0.0,28.428571,38.0,21.0,171.857143,9.628571,1013.457143,2016,5,2016-02-07
58,2016-06,24.1,27.771429,38.0,19.0,210.285714,8.371429,1013.357143,2016,6,2016-02-14
59,2016-07,76.1,27.442857,38.0,17.0,88.428571,7.971429,1011.171429,2016,7,2016-02-21

In [22]:
# Dropando as colunas que não serão utilizadas
# Lista de colunas a serem removidas
colunas_para_dropar2 = ['semana_num', 'ano']

# Dropando as colunas
df_clima_final = df_clima_final.drop(columns=colunas_para_dropar2)
df_clima_final

,chuva,temperaturaMedia,temperaturaMaxima,temperaturaMinima,direcaoVento,velocidadeVento,pressaoAtmosferica,semana,data
0,0.0,30.700000,40.0,24.0,160.000000,11.000000,1015.521917,0,2015-01-04
1,0.0,28.800000,40.0,21.0,133.857143,7.514286,1015.521917,1,2015-01-11
2,0.0,30.100000,40.0,22.0,218.428571,10.871429,1015.521917,2,2015-01-18
3,0.0,28.157143,38.0,22.0,221.136948,9.985714,1015.521917,3,2015-01-25
4,0.0,28.257143,37.0,21.0,222.851234,9.742857,1015.521917,4,2015-02-01
...,...,...,...,...,...,...,...,...,...
491,22.8,21.200000,33.0,16.3,195.000000,9.728571,1020.828571,21,2024-05-26
492,7.9,22.285714,31.0,16.2,230.714286,7.185714,1021.585714,22,2024-06-02
493,0.0,23.414286,34.0,15.4,173.285714,7.500000,1018.357143,23,2024-06-09
494,0.0,23.885714,35.0,14.0,237.000000,7.971429,1016.342857,24,2024-06-16
495,5.0,25.057143,36.0,18.6,216.285714,9.728571,1014.357143,25,2024-06-23