In [1]:
import pandas as pd
from datetime import datetime as dt

# Laranjeiras - CLIMA DIARIO

In [2]:
# Data Frame + Dimensáo
df_clima_lr = pd.read_excel('Laranjeiras-2015-2023_Diario.xlsx')
print ('Numero de linhas: {}'.format(df_clima_lr.shape[0]))
print ('Numero de colunas: {}'.format(df_clima_lr.shape[1]))

Numero de linhas: 3469
Numero de colunas: 11

In [3]:
df_clima_lr.head()

        time  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt  pres  tsun
0 2015-01-01  29.8  24.0  38.0   NaN   NaN    NaN  10.0   NaN   NaN   NaN
1 2015-01-02  30.8  26.0  39.0   NaN   NaN   28.0   8.3   NaN   NaN   NaN
2 2015-01-03  29.4  27.0  33.0   NaN   NaN  135.0  17.2   NaN   NaN   NaN
3 2015-01-04  27.5  24.0  33.0   NaN   NaN   62.0  10.0   NaN   NaN   NaN
4 2015-01-05  25.9  22.0  31.0   NaN   NaN  345.0   9.7   NaN   NaN   NaN

In [4]:
# Renomeando as colunas
df_clima_lr = df_clima_lr.rename(columns={'time': 'data', 'tavg': 'temperaturaMedia', 'tmin': 'temperaturaMinima',
                                         'tmax': 'temperaturaMaxima', 'prcp': 'chuva', 'snow': 'neve',
                                          'wdir': 'direcaoVento', 'wspd': 'velocidadeVento', 'wpgt': 'rajadaVento',
                                          'pres': 'pressaoAtmosferica', 'tsun': 'luzSolar'})

In [5]:
# Dropando as colunas que não serão utilizadas
# Lista de colunas a serem removidas
colunas_para_dropar = ['neve', 'luzSolar', 'rajadaVento']

# Dropando as colunas
df_clima_lr = df_clima_lr.drop(columns=colunas_para_dropar)

In [6]:
# Colunas do dataset
df_clima_lr.columns

Index(['data', 'temperaturaMedia', 'temperaturaMinima', 'temperaturaMaxima',
       'chuva', 'direcaoVento', 'velocidadeVento', 'pressaoAtmosferica'],
      dtype='object')

In [7]:
# Tipo dos dados
df_clima_lr.dtypes

data                  datetime64[ns]
temperaturaMedia             float64
temperaturaMinima            float64
temperaturaMaxima            float64
chuva                        float64
direcaoVento                 float64
velocidadeVento              float64
pressaoAtmosferica           float64
dtype: object

In [8]:
#Check NA
df_clima_lr.isna().sum()

data                     0
temperaturaMedia         0
temperaturaMinima        2
temperaturaMaxima        2
chuva                 1235
direcaoVento            54
velocidadeVento          2
pressaoAtmosferica     310
dtype: int64

In [9]:
# Calcular a porcentagem de valores ausentes em cada coluna
missing_percentages = (df_clima_lr.isnull().sum() / len(df_clima_lr)) * 100

missing_percentages

data                   0.000000
temperaturaMedia       0.000000
temperaturaMinima      0.057654
temperaturaMaxima      0.057654
chuva                 35.601038
direcaoVento           1.556645
velocidadeVento        0.057654
pressaoAtmosferica     8.936293
dtype: float64

In [10]:
#Visualizar algumas linhas dos valores faltantes
df_clima_lr[df_clima_lr.isnull().any(axis=1)].head(10)

,data,temperaturaMedia,temperaturaMinima,temperaturaMaxima,chuva,direcaoVento,velocidadeVento,pressaoAtmosferica
0,2015-01-01,29.8,24.0,38.0,NaN,NaN,10.0,NaN
1,2015-01-02,30.8,26.0,39.0,NaN,28.0,8.3,NaN
2,2015-01-03,29.4,27.0,33.0,NaN,135.0,17.2,NaN
3,2015-01-04,27.5,24.0,33.0,NaN,62.0,10.0,NaN
4,2015-01-05,25.9,22.0,31.0,NaN,345.0,9.7,NaN
5,2015-01-06,26.1,23.0,31.0,NaN,53.0,9.3,NaN
6,2015-01-07,28.8,24.0,35.0,NaN,93.0,9.9,NaN
7,2015-01-08,29.6,24.0,36.0,NaN,93.0,11.6,NaN
8,2015-01-09,31.1,25.0,38.0,NaN,78.0,8.8,NaN
9,2015-01-10,31.6,25.0,39.0,NaN,103.0,9.1,NaN

In [11]:
# Descobrindo a Média Móvel das colunas e completando os valores faltantes

window_size = 52

df_clima_lr['temperaturaMedia'].fillna(df_clima_lr['temperaturaMedia'].rolling(window=window_size, min_periods=1).mean(), inplace=True)
df_clima_lr['temperaturaMinima'].fillna(df_clima_lr['temperaturaMinima'].rolling(window=window_size, min_periods=1).mean(), inplace=True)
df_clima_lr['temperaturaMaxima'].fillna(df_clima_lr['temperaturaMaxima'].rolling(window=window_size, min_periods=1).mean(), inplace=True)
df_clima_lr['velocidadeVento'].fillna(df_clima_lr['velocidadeVento'].rolling(window=window_size, min_periods=1).mean(), inplace=True)
df_clima_lr['direcaoVento'].fillna(df_clima_lr['direcaoVento'].mean(), inplace=True)
df_clima_lr['pressaoAtmosferica'].fillna(df_clima_lr['pressaoAtmosferica'].mean(), inplace=True)
df_clima_lr['chuva'].fillna(0, inplace=True)

In [12]:
# Quantidade de valores faltantes do Dataset após alteração
df_clima_lr.isnull().sum()

data                  0
temperaturaMedia      0
temperaturaMinima     0
temperaturaMaxima     0
chuva                 0
direcaoVento          0
velocidadeVento       0
pressaoAtmosferica    0
dtype: int64

In [13]:
df_clima_lr.head()

,data,temperaturaMedia,temperaturaMinima,temperaturaMaxima,chuva,direcaoVento,velocidadeVento,pressaoAtmosferica
0,2015-01-01,29.8,24.0,38.0,0.0,140.370425,10.0,1015.222602
1,2015-01-02,30.8,26.0,39.0,0.0,28.000000,8.3,1015.222602
2,2015-01-03,29.4,27.0,33.0,0.0,135.000000,17.2,1015.222602
3,2015-01-04,27.5,24.0,33.0,0.0,62.000000,10.0,1015.222602
4,2015-01-05,25.9,22.0,31.0,0.0,345.000000,9.7,1015.222602

## REALIZAR O AGRUPAMENTO A PARTIR DA SEMANA

In [14]:
# week of year
df_clima_lr['semana_num'] = df_clima_lr['data'].dt.strftime('%Y-%U')
df_clima_lr

,data,temperaturaMedia,temperaturaMinima,temperaturaMaxima,chuva,direcaoVento,velocidadeVento,pressaoAtmosferica,semana_num
0,2015-01-01,29.8,24.0,38.0,0.0,140.370425,10.0,1015.222602,2015-00
1,2015-01-02,30.8,26.0,39.0,0.0,28.000000,8.3,1015.222602,2015-00
2,2015-01-03,29.4,27.0,33.0,0.0,135.000000,17.2,1015.222602,2015-00
3,2015-01-04,27.5,24.0,33.0,0.0,62.000000,10.0,1015.222602,2015-01
4,2015-01-05,25.9,22.0,31.0,0.0,345.000000,9.7,1015.222602,2015-01
...,...,...,...,...,...,...,...,...,...
3464,2024-06-26,24.1,21.2,30.8,0.0,48.000000,6.1,1015.600000,2024-25
3465,2024-06-27,22.5,21.0,25.6,0.4,212.000000,8.6,1013.900000,2024-25
3466,2024-06-28,23.6,20.2,30.0,0.1,34.000000,5.8,1013.100000,2024-25
3467,2024-06-29,23.1,20.7,26.6,0.1,245.000000,8.5,1014.200000,2024-25
3468,2024-06-30,19.9,18.8,21.0,13.6,209.000000,8.6,1019.400000,2024-26

In [15]:
# Crie um intervalo de datas que cubra todos os anos e semanas desejados
start_date = pd.to_datetime('2015-01-01')  # Data inicial desejada
end_date = pd.to_datetime('2024-06-30')    # Data final desejada
date_range = pd.date_range(start=start_date, end=end_date, freq='W-SAT')  # Intervalo de datas semanais

In [16]:
# Crie um DataFrame com todas as semanas desejadas
all_weeks = pd.DataFrame({'data': date_range})
all_weeks['semana_num'] = all_weeks['data'].dt.strftime('%Y-%U')

In [17]:
# Junte os dados existentes com o DataFrame de todas as semanas
df_merged = all_weeks.merge(df_clima_lr, on='semana_num', how='left')

In [18]:
# Junta os dados usando a data do domingo como representação da semana
df_clima_final = df_merged.groupby('semana_num').agg({
    'chuva': 'sum',
    'temperaturaMedia': 'mean',
    'temperaturaMaxima': 'max',
    'temperaturaMinima': 'min',
    'direcaoVento': 'mean',
    'velocidadeVento': 'mean',
    'pressaoAtmosferica': 'mean'
}).reset_index()

In [19]:
# Crie uma coluna 'ano' e 'semana_num' a partir da coluna 'semana'
df_clima_final['ano'] = df_clima_final['semana_num'].str[:4]
df_clima_final['semana'] = df_clima_final['semana_num'].str[5:].astype(int)

In [20]:
def get_sunday_date(row):
    year = int(row['semana_num'][:4])
    week_num = int(row['semana_num'][5:])
    sunday = pd.to_datetime(f'{year}-W{week_num}-0', format='%Y-W%W-%w')
    return sunday

In [21]:
df_clima_final['data'] = df_clima_final.apply(get_sunday_date, axis=1)
df_clima_final.head(60)

,semana_num,chuva,temperaturaMedia,temperaturaMaxima,temperaturaMinima,direcaoVento,velocidadeVento,pressaoAtmosferica,ano,semana,data
0,2015-00,0.0,30.000000,39.000000,24.0,101.123475,11.833333,1015.222602,2015,0,2015-01-04
1,2015-01,0.0,28.657143,39.000000,22.0,118.142857,9.771429,1015.222602,2015,1,2015-01-11
2,2015-02,0.0,30.271429,39.000000,24.0,160.142857,12.828571,1015.222602,2015,2,2015-01-18
3,2015-03,0.0,28.614286,36.000000,23.0,227.105836,12.485714,1015.222602,2015,3,2015-01-25
4,2015-04,0.0,28.585714,37.000000,23.0,73.910061,10.600000,1015.222602,2015,4,2015-02-01
5,2015-05,0.0,25.857143,33.000000,19.0,140.052918,10.014286,1015.222602,2015,5,2015-02-08
6,2015-06,0.0,29.585714,39.000000,24.0,109.105836,10.514286,1015.222602,2015,6,2015-02-15
7,2015-07,0.0,27.257143,36.000000,20.0,160.000000,9.500000,1015.222602,2015,7,2015-02-22
8,2015-08,0.0,28.171429,34.000000,24.0,135.481489,12.528571,1015.222602,2015,8,2015-03-01
9,2015-09,0.0,26.957143,35.000000,21.0,131.195775,12.242857,1015.222602,2015,9,2015-03-08
10,2015-10,0.0,26.328571,33.000000,23.0,124.534407,7.628571,1015.222602,2015,10,2015-03-15
11,2015-11,0.0,25.928571,33.000000,22.0,119.248693,9.557143,1015.222602,2015,11,2015-03-22
12,2015-12,0.0,24.900000,30.000000,21.0,151.052918,9.042857,1015.222602,2015,12,2015-03-29
13,2015-13,0.0,25.500000,32.000000,20.0,157.677264,9.114286,1015.222602,2015,13,2015-04-05
14,2015-14,0.0,24.271429,40.000000,19.0,149.910061,11.214286,1015.222602,2015,14,2015-04-12
15,2015-15,0.0,25.285714,32.000000,21.0,108.195775,9.357143,1015.222602,2015,15,2015-04-19
16,2015-16,0.0,25.328571,34.000000,22.0,136.910061,9.828571,1015.222602,2015,16,2015-04-26
17,2015-17,0.0,22.342857,29.098039,18.0,138.444468,8.971709,1015.222602,2015,17,2015-05-03
18,2015-18,0.0,22.642857,32.000000,16.0,164.068814,8.378000,1015.222602,2015,18,2015-05-10
19,2015-19,0.0,22.000000,30.000000,16.0,183.962978,9.700000,1015.222602,2015,19,2015-05-17
20,2015-20,0.0,22.528571,28.000000,18.0,122.211671,7.642857,1015.222602,2015,20,2015-05-24
21,2015-21,0.0,23.357143,33.000000,18.0,106.211671,7.185714,1015.222602,2015,21,2015-05-31
22,2015-22,0.0,21.671429,30.000000,17.0,153.301611,6.428571,1015.222602,2015,22,2015-06-07
23,2015-23,0.0,23.414286,31.000000,17.0,159.407446,5.942857,1015.222602,2015,23,2015-06-14
24,2015-24,0.0,21.742857,32.000000,17.0,153.301611,9.128571,1015.222602,2015,24,2015-06-21
25,2015-25,0.0,20.057143,30.000000,15.0,106.925957,7.385714,1015.222602,2015,25,2015-06-28
26,2015-26,0.0,21.942857,28.000000,15.0,149.248693,8.471429,1015.222602,2015,26,2015-07-05
27,2015-27,0.0,21.414286,28.000000,17.0,176.285714,8.657143,1015.222602,2015,27,2015-07-12
28,2015-28,0.0,23.200000,30.000000,20.0,138.571429,8.928571,1015.222602,2015,28,2015-07-19
29,2015-29,0.0,22.428571,32.000000,18.7,180.000000,9.085714,1015.222602,2015,29,2015-07-26
30,2015-30,0.0,22.400000,33.000000,20.0,147.571429,10.314286,1015.222602,2015,30,2015-08-02
31,2015-31,0.0,23.400000,29.000000,20.0,91.000000,9.814286,1015.747945,2015,31,2015-08-09
32,2015-32,0.0,22.200000,27.000000,18.0,101.000000,9.585714,1021.914286,2015,32,2015-08-16
33,2015-33,0.3,22.714286,30.000000,18.0,220.428571,10.485714,1018.000000,2015,33,2015-08-23
34,2015-34,4.1,21.814286,30.000000,17.9,122.142857,10.485714,1017.460372,2015,34,2015-08-30
35,2015-35,7.1,22.142857,37.000000,18.0,228.285714,12.014286,1016.838258,2015,35,2015-09-06
36,2015-36,42.9,21.928571,27.000000,18.0,230.571429,10.542857,1012.871429,2015,36,2015-09-13
37,2015-37,26.9,23.714286,37.000000,17.0,231.142857,10.342857,1016.171429,2015,37,2015-09-20
38,2015-38,0.0,24.942857,36.600000,21.0,163.428571,12.885714,1012.828571,2015,38,2015-09-27
39,2015-39,8.9,25.042857,31.000000,22.0,180.428571,10.600000,1013.709687,2015,39,2015-10-04
40,2015-40,6.1,23.771429,32.000000,19.0,126.428571,11.928571,1015.642857,2015,40,2015-10-11
41,2015-41,0.0,26.514286,37.000000,22.0,136.142857,12.828571,1014.646086,2015,41,2015-10-18
42,2015-42,4.9,24.300000,32.000000,19.0,175.285714,13.271429,1013.935029,2015,42,2015-10-25
43,2015-43,3.3,24.700000,34.900000,20.7,128.142857,12.385714,1015.966829,2015,43,2015-11-01
44,2015-44,46.5,25.014286,32.000000,22.0,130.714286,12.242857,1013.998630,2015,44,2015-11-08
45,2015-45,16.3,26.085714,34.000000,22.0,140.571429,11.657143,1013.466829,2015,45,2015-11-15
46,2015-46,1.8,26.028571,33.000000,20.0,157.142857,12.042857,1009.274657,2015,46,2015-11-22
47,2015-47,37.6,24.242857,31.000000,21.0,146.000000,11.257143,1011.874657,2015,47,2015-11-29
48,2015-48,37.8,23.900000,29.000000,21.0,148.142857,10.857143,1013.623972,2015,48,2015-12-06
49,2015-49,27.0,25.928571,38.000000,21.0,182.857143,10.714286,1012.446086,2015,49,2015-12-13
50,2015-50,51.1,28.628571,37.000000,23.0,114.000000,12.685714,1013.038258,2015,50,2015-12-20
51,2015-51,0.0,29.128571,36.000000,24.0,93.714286,10.971429,1014.095401,2015,51,2015-12-27
52,2016-00,2.0,28.600000,37.000000,25.0,81.500000,13.950000,1009.350000,2016,0,2016-01-03
53,2016-01,11.2,27.014286,33.000000,23.0,132.285714,15.028571,1013.535029,2016,1,2016-01-10
54,2016-02,109.0,26.514286,33.000000,23.0,194.857143,11.371429,1007.801859,2016,2,2016-01-17
55,2016-03,47.2,24.285714,31.000000,21.0,239.000000,10.328571,1007.792172,2016,3,2016-01-24
56,2016-04,14.0,27.857143,35.000000,23.0,143.857143,10.357143,1014.933659,2016,4,2016-01-31
57,2016-05,0.0,28.957143,37.000000,24.0,109.571429,12.500000,1013.257143,2016,5,2016-02-07
58,2016-06,24.1,28.200000,37.000000,23.0,115.285714,11.885714,1013.157143,2016,6,2016-02-14
59,2016-07,76.1,28.357143,37.000000,24.0,120.714286,12.085714,1010.971429,2016,7,2016-02-21

In [22]:
# Dropando as colunas que não serão utilizadas
# Lista de colunas a serem removidas
colunas_para_dropar2 = ['semana_num', 'ano']

# Dropando as colunas
df_clima_final = df_clima_final.drop(columns=colunas_para_dropar2)
df_clima_final

,chuva,temperaturaMedia,temperaturaMaxima,temperaturaMinima,direcaoVento,velocidadeVento,pressaoAtmosferica,semana,data
0,0.0,30.000000,39.0,24.0,101.123475,11.833333,1015.222602,0,2015-01-04
1,0.0,28.657143,39.0,22.0,118.142857,9.771429,1015.222602,1,2015-01-11
2,0.0,30.271429,39.0,24.0,160.142857,12.828571,1015.222602,2,2015-01-18
3,0.0,28.614286,36.0,23.0,227.105836,12.485714,1015.222602,3,2015-01-25
4,0.0,28.585714,37.0,23.0,73.910061,10.600000,1015.222602,4,2015-02-01
...,...,...,...,...,...,...,...,...,...
491,17.7,21.000000,29.0,17.0,206.714286,6.471429,1020.900000,21,2024-05-26
492,5.9,21.714286,29.0,16.6,71.857143,5.357143,1022.000000,22,2024-06-02
493,0.0,22.328571,31.3,16.2,36.571429,5.328571,1018.842857,23,2024-06-09
494,0.0,22.342857,31.0,17.3,35.000000,5.657143,1016.914286,24,2024-06-16
495,1.7,23.400000,32.1,17.7,119.142857,7.114286,1014.814286,25,2024-06-23