In [1]:
from datetime import datetime
from meteostat import Point, Daily

In [2]:
# Set time period
start = datetime(2015, 1, 1)
end = datetime(2024, 6, 30)

In [3]:
# Create Point for Maracan√£, RJ - BR
dados = Point(-22.913645, -43.225313)

In [4]:
# Get daily data (01/2015 - 06/2024)
data = Daily(dados, start, end)
data = data.fetch()
data.head(20)

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt  pres  tsun
time
2015-01-01  29.8  24.0  38.0   NaN   NaN   47.0  10.0   NaN   NaN   NaN
2015-01-02  30.8  26.0  39.0   NaN   NaN   28.0   8.3   NaN   NaN   NaN
2015-01-03  29.4  27.0  33.0   NaN   NaN  135.0  17.2   NaN   NaN   NaN
2015-01-04  27.5  24.0  33.0   NaN   NaN   62.0  10.0   NaN   NaN   NaN
2015-01-05  25.9  22.0  31.0   NaN   NaN  345.0   9.7   NaN   NaN   NaN
2015-01-06  26.1  23.0  31.0   NaN   NaN   53.0   9.3   NaN   NaN   NaN
2015-01-07  28.8  24.0  35.0   NaN   NaN   93.0   9.9   NaN   NaN   NaN
2015-01-08  29.6  24.0  36.0   NaN   NaN   93.0  11.6   NaN   NaN   NaN
2015-01-09  31.1  25.0  38.0   NaN   NaN   78.0   8.8   NaN   NaN   NaN
2015-01-10  31.6  25.0  39.0   NaN   NaN  103.0   9.1   NaN   NaN   NaN
2015-01-11  30.4  25.0  37.0   NaN   NaN  185.0  12.4   NaN   NaN   NaN
2015-01-12  31.6  26.0  39.0   NaN   NaN  212.0  11.1   NaN   NaN   NaN
2015-01-13  30.7  27.0  36.0   NaN   NaN  110.0  16.9   NaN   NaN   NaN
2015-01-14  30.2  26.0  34.0   NaN   NaN  171.0  12.5   NaN   NaN   NaN
2015-01-15  30.1  26.0  36.0   NaN   NaN  141.0  11.8   NaN   NaN   NaN
2015-01-16  29.4  27.0  33.0   NaN   NaN  159.0  14.0   NaN   NaN   NaN
2015-01-17  29.5  24.0  36.0   NaN   NaN  143.0  11.1   NaN   NaN   NaN
2015-01-18  29.7  25.0  36.0   NaN   NaN    NaN  14.4   NaN   NaN   NaN
2015-01-19  30.4  25.5  35.0   NaN   NaN  216.0  12.1   NaN   NaN   NaN
2015-01-20  29.9  25.0  36.0   NaN   NaN  168.0  11.1   NaN   NaN   NaN

In [5]:
#data.to_excel('D:\Mestrado\Defesa\Clima - Bairros RJ\Maracana\Maracana-2015-2024_Diario.xlsx')